{% extends '::base.html.twig' %}

{% block title %}SAML Login{% endblock title %}

{% block content %}
    <div class="row-fluid">
        <div class="span6 offset3">
            <h1>Hello!</h1>
            <div class="alert alert-success">
                <strong>Woohoo!</strong> Je bent succesvol ingelogd.
            </div>
            <h3>Deze gegevens zijn van je bekend:</h3>
            <table class="table table-striped table-hover">
                <tbody>
                    <tr>
                        <td><strong>ID</strong></td>
                        <td>{{ identity.nameId }}</td>
                    </tr>
                    <tr>
                        <td><strong>Eigen Organisatie:</strong></td>
                        <td>{{ identity.schacHomeOrganisation }}</td>
                    </tr>
                    <tr>
                        <td><strong>Weergave Naam:</strong></td>
                        <td>{{ identity.displayName }}</td>
                    </tr>
                    <tr>
                        <td><strong>Email:</strong></td>
                        <td>{{ identity.email }}</td>
                    </tr>
                </tbody>
            </table>
            <p>
                <strong>TESTING ONLY</strong>
                <a class="btn btn-primary" href="{{ path(target) }}" title="{{ path(target) }}">Click to continue</a>
            </p>
        </div>
    </div>
{% endblock %}
